[Unit]
Description=Insteon MQTT Bridge
After=network.target

[Service]
WorkingDirectory=/opt/insteon-mqtt
Type=simple
User=insteon
ExecStart=/opt/insteon-mqtt/bin/insteon-mqtt config.yaml start

[Install]
WantedBy=multi-user.target
