[flake8]
ignore =
  # allow block comments without '# '
  E265,
  # white space before dict ':'
  E203,
  # closing bracket indent level
  E123,
  # allow bare excepts
  E722,
  # continuation line indentation
  E127,
  # hanging indent indentation,
  E131,
  # allow lambda assignments
  E731,
  # allow line break after binary operator
  W504

exclude = notes,
jobs = auto
